<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>rigister form</title>
        <script src="node_modules/vue/dist/vue.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/solid.css"
            integrity="sha384-yo370P8tRI3EbMVcDU+ziwsS/s62yNv3tgdMqDSsRSILohhnOrDNl142Df8wuHA+"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.1/css/fontawesome.css"
            integrity="sha384-ijEtygNrZDKunAWYDdV3wAZWvTHSrGhdUfImfngIba35nhQ03lSNgfTJAKaGFjk2"
            crossorigin="anonymous"
        />
        <style>
            /* #file-input {
                display: none;
            } */
            #fotoLoad {
                width: 150px;
                height: 150px;
                margin-top: 2rem;
                /* border-radius: 50%; */
            }
            #fotoLoad i {
                font-size: 80px;
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="sample container mt-5">
            <template v-if="!regUser">
                <div class="progress">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        :style="{width: widthProgBar + '%'}"
                    ></div>
                </div>
                <br>
                <form action="#" v-on:submit.prevent="onSubmit">
                    <appinput
                        v-for="(item, index) in info"
                        v-bind:prop="item"
                        v-bind:key="item.name"
                        v-on:input="onInput(index, $event)"
                    >
                    </appinput>

                    <button type="submit" class="btn btn-primary"
                    v-bind:disabled="!btnActive"
                    >
                        REGISTER
                    </button>
                </form>
            </template>

            <template v-else>
                <p></p>
                <div class="container">
                    <div class="card" style="width: 18rem">
                        <div
                            class="rounded-circle bg-primary mx-auto d-flex justify-content-center align-items-center"
                            id="fotoLoad"
                        >
                                     
                        <i
                                class="fas fa-camera"
                                v-on:click="loadFoto()"
                                title="load foto"
                            ></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <h3>{{fullName}}</h3>
                            <p class="card-text">
                                Load your photo for account and click the button
                            </p>
                            <a href="#" class="btn btn-primary">CONFIRM</a>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <script>
            Vue.component("appinput", {
                props: ["prop"],
                template: `
                <div class="form-group">
                  <label>{{prop.name}}</label>
                    <span class="fas" :class="validClass" v-if="activated">
                    </span>
                    <input type="text" 
                        class="form-control"
                        v-bind:value="prop.value"
                        v-on:input="onInput"
                        v-model='value'
                    >
                    <small class="text-muted">
                        Please, type right your {{prop.name}}
                    </small>
                </div>
                `,
                data() {
                    return {
                        value: "",
                        activated: this.prop.value != "",
                    };
                },
                computed: {
                    validClass() {
                        // console.log(this.prop.pattern, " - this.prop.pattern");
                        // console.log(
                        //     this.prop.pattern.test(this.value),
                        //     " - this.prop.pattern.test(this.value)"
                        // );
                        // console.log(this.value, " - this.value");
                        return this.prop.pattern.test(this.value)
                            ? " fa-check-circle text-success"
                            : " fa-times-circle text-danger";
                    },
                },
                methods: {
                    onInput(e) {
                        // console.log(e.target.value, " - e.target.value");
                        // console.log(e.target.value, ' - e.target.value');
                        console.log('onInput method kids');
                        this.activated = true;
                        this.$emit("input", {
                            value: e.target.value,
                            valid: this.prop.pattern.test(e.target.value),
                            name: this.prop.name
                        });
                    },
                },
            });

            new Vue({
                el: ".sample",
                data: {
                    info: [
                        {
                            name: "First Name",
                            value: "",
                            pattern: /^[a-zA-Z]{2,30}$/,
                        },
                        {
                            name: "Second Name",
                            value: "",
                            pattern: /^[a-zA-Z]{2,30}$/,
                        },
                        {
                            name: "Email",
                            value: "",
                            pattern: /[-.\w]+@([\w-]+\.)+[\w-]+/,
                        },
                        {
                            name: "Phome number",
                            value: "",
                            pattern: /^\+\d[\d\(\)\ -]{10,14}\d$/,
                        },
                    ],
                    regUser: false,
                    controls: [],
                    widthProgBar: 0,
                    firstName: "",
                    secondName: "",
                    ableSubmit: false,
                    btnActive: false

                },
                created: function() {
                    for (let i = 0; i < this.info.length; i++) {
                        this.controls.push(false)
                        
                    }
                },
                computed: {
                    fullName: function() {
                        return this.firstName + " " + this.secondName
                    }
                },
                methods: {
                    onInput(index, data) {
                        this.info[index].value = data.value;
                        // console.log(index, " - index in Patern");
                        console.log(data, " - datan in Patern");
                        // console.log(index, " - index");
                        console.log('input');
                        
                            this.controls[index] = data.valid;
                            // this.progress(100/this.info.length);
                            // let count = 100/this.info.length;
                        console.log(this.controls, ' - this.controls');
                        this.progressBar();
                        this.getName(data)
                    },
                    progressBar() {
                        console.log('progres');
                        let done = 0;
                        for (let i = 0; i < this.controls.length; i++) {
                            if(this.controls[i] === true) {

                                console.log(100/this.controls.length, ' - this.controls.length/100');
                                done += 100/this.controls.length
                                console.log(done, ' - done');
                            }
                        }
                        this.widthProgBar = done;
                        if(done == 100) {
                            this.btnActive = true
                        } else {
                            this.btnActive = false
                        }
                    },
                    getName(data) {
                        if(data.name === "First Name") {
                            this.firstName = data.value,   
                            console.log(this.firstName, ' - this.firstName');
                        }
                        
                        if(data.name === "Second Name") {
                            this.secondName = data.value,   
                            console.log(this.secondName, ' - this.secondName');
                        }
                        
                    },
                    onSubmit(e) {
                        // console.log('there are will be some code');
                        this.regUser = true
                    }
                }
            });
            Vue.config.devtools = true;
        </script>
    </body>
</html>
